{% extends '@App/layout.html.twig' %}



    {% block content %}

        <h2>Welcome home !!</h2>
    {% endblock %}

    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
      Pseudo : {{ test }}
        </ul>

        <h1>My Webpage</h1>
        {{ a_variable }}
    </body>


